@import '../../../shared/style-common.scss';

.director {
  margin: 30px;

  .title {
    padding: 0px 0px 15px 0px;
    font-size: x-large;

    .btn-add {
      font-weight: bold;
      float:right;
    }
  }

  table {
    width: 100%;

    thead {
      @extend .header-table;
    }

    tr > *:nth-child(1) {
      width: 15%;
    }

    tr > *:nth-child(2) {
      width: 15%;
    }

    tr > *:nth-child(3) {
      width: 15%;
    }

    tr > *:nth-child(4) {
      width: 15%;
    }

    tr > *:nth-child(5) {
      width: 15%;
    }

    tr > *:nth-child(6) {
      width: fit-content;
      word-break: break-word;
    }

    tbody {
      @extend .body-table;
      
      tr:hover {
        @extend .hover-row-on-table;
      }   

      .active {
        color: $active-color;
      }

    }

    th, td {
      padding: 5px !important;
      text-align: left;
      border: $border-table;
    }
  }
}

