
.search-panel {
  background-color: #dedfe1;
  padding: 10px;
  height: 60px;

  .fieldset {
    margin-right: 15px;
    float: left;
  }
  
  .select {
    min-width: 300px;
    margin-left: 20px;

    .css-6q0nyr-Svg {
      fill: none;
    }
  }

  .filter-input {
    height: 37px;
  }

  .add-profile {
    margin-right: 5px;
    float: right;
  }
}

