@import '../../../../shared/style-common.scss';

.director-detail {

  .btn-add {
    float: right;
    margin-top: 15px;
    font-weight: bold;
  }

  .message-error {
    padding-top: 5px;
  }

  table {
    width: 100%;

    tr > *:nth-child(1) {
      width: 40%;
    }

    tr > *:nth-child(2) {
      width: fit-content;
    }

    tbody {
      tr {
        td {
          padding: 5px;
          border: $border-table;
        }

        td:nth-child(odd) {
          font-weight: bold;
          padding: 10px 25px;
          background-color: $bg-primary-level4;
        }

        td:nth-child(even) {
          background-color: $bg-primary-light;
          padding: 10px 25px;

          input {
            width: 100%;
          }
        }

        .inline {
          display: flex;

          .form-check {
            margin-right: 5px;
          }

          .position-static {
            position: absolute !important;
          }
        }
      }
    }
  }

}







