@import '../../../../shared/style-common.scss';

.director-detail {

  .btn-add {
    float: right;
    margin-top: 15px;
    font-weight: bold;
  }

  table {
    width: 100%;

    tr > *:nth-child(1) {
      width: 40%;
    }

    tr > *:nth-child(2) {
      width: fit-content;
    }

    tbody {
      tr {
        td {
          border: $border-table;
        }

        td:nth-child(odd) {
          font-weight: bold;
          padding: 10px 25px 5px 25px;
          background-color: $bg-primary-level4;
        }

        td:nth-child(even) {
          background-color: $bg-primary-light;
          padding: 10px 25px 5px 25px;

          input {
            width: 100%;
          }
        }

        .document {
          padding-bottom: 20px !important;
          
          .inline {
            display: flex;
  
            .form-check {
              margin-right: 5px;
            }
  
            .position-static {
              position: absolute !important;
            }
          }
        }
      }
    }
  }

}







