@import '../../shared/style-common.scss';

.menu-list {
  a {
    display: block;
    padding: 0.5em 0.75em;
    font-weight: bold;
    color: $bg-primary-level1;
  }

  a:hover {
    color: $color-primary-dark;
    text-decoration: none;
  }

  .active-link,
  .router-link-active {
    color: $color-primary-dark;
    background-color: $bg-primary-light;
    border-radius: 5px;

    .svg-inline--fa {
      color: $selected-icon;
    }
  }

}





