
.profile {
  .profile-info {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      tr > *:nth-child(1) {
        width: 25%;
      }

      tr > *:nth-child(2) {
        width: 25%;
      }

      tr > *:nth-child(3) {
        width: 25%;
      }

      tr > *:nth-child(4) {
        width: fit-content;

        input:disabled {
          border: none;
          background-color: white;
          color: black;
        }
      }

      thead {
        background-color: #2865A2;
        text-align: left;

        tr > th {
          font-weight: bold;
          color: white;
          border: none;

          .edit-action {
            float: right;
            height: 44px;
            font-weight: bold;
            background-color: inherit;
            border-left: 2px solid black;
          }
        }

        tr > *:nth-child(1) {
          padding: 10px !important;
        }
      }

      tbody {
        tr {
          td {
            padding: 5px !important;
            text-align: left;
            border: 1px solid #E7EAF1;
          }

          td:nth-child(odd) {
            font-weight: bold;
            padding: 10px 25px !important;
            background-color: #F8F8F9;
          }

          td:nth-child(even) {
            background-color: white;
            padding: 10px 25px !important;
          }

          .status-account {
            color: green;
          }
        }
      }
    }
  }

  $product-access-color: #d9edf7;

  .product-access {
    padding-top: 20px;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid $product-access-color;

      thead {
        background-color: $product-access-color;

        tr > *:nth-child(1) {
          padding: 10px;
        }
      }

      tbody {
        tr {
          td {
            padding: 10px 8% 10px 15px;
            background-color: white;
            text-align: left;
            border: none;
            .type-product {
              font-weight: bold;
              flex: 1;
            }
          }
          .inline {
            display: flex;
          }
        }
      }
    }
  }

  .create-parent-account {
    margin: 10px 0px 0px 0px;
    float: right;
    font-weight: bold;
  }
}
