@import '../.././../shared/style-common.scss';

.profile {
  .profile-info {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      tr > *:nth-child(1) {
        width: 25%;
      }

      tr > *:nth-child(2) {
        width: 25%;
      }

      tr > *:nth-child(3) {
        width: 25%;
      }

      tr > *:nth-child(4) {
        width: fit-content;

        input:disabled {
          border: none;
          background-color: $bg-primary-light;
          color: $color-primary-dark;
        }
      }

      thead {
       @extend .header-table;

        tr > th {
          border: none;

          .edit-action {
            float: right;
            height: 44px;
           font-weight: bold;
            background-color: inherit;
            border-left: 2px solid $color-primary-dark;
          }
        }

        tr > *:nth-child(1) {
          padding: 10px !important;
        }
      }

      tbody {
        tr {
          td {
            padding: 5px !important;
            border: $border-table;
          }

          td:nth-child(odd) {
            font-weight: bold;
            padding: 10px 25px !important;
            background-color: $bg-primary-level4;
          }

          td:nth-child(even) {
            background-color: $bg-primary-light;
            padding: 10px 25px !important;
          }

          .status-account {
            color: $active-color;
          }
        }
      }
    }
  }

  .product-access {
    padding-top: 20px;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid $bg-product;

      thead {
        background-color: $bg-product;

        tr > *:nth-child(1) {
          padding: 10px;
        }
      }

      tbody {
        tr {
          td {
            padding: 10px 8% 10px 15px;
            background-color: $bg-primary-light;
            text-align: left;
            border: none;
            .type-product {
              font-weight: bold;
              flex: 1;
            }
          }
          .inline {
            display: flex;
          }
        }
      }
    }
  }

  .create-parent-account {
    margin: 10px 0px 0px 0px;
    float: right;
    font-weight: bold;
  }
}
