
.profile {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th, td {
      padding: 5px !important;
      text-align: left;
      border: 1px solid #E7EAF1;
    }

    tr > *:nth-child(1) {
      width: 25%;
    }

    tr > *:nth-child(2) {
      width: 25%;
    }

    tr > *:nth-child(3) {
      width: 25%;
    }

    tr > *:nth-child(4) {
      width: fit-content;
    }

    thead {
      background-color: #2865A2;
      text-align: left;

      tr > th {
        font-weight: bold;
        color: white;
      }
    }

    tbody {
      tr {
        td:nth-child(odd) {
          font-weight: bold;
          padding: 10px 25px !important;
          background-color: #F8F8F9;
        }
        td:nth-child(even) {
          background-color: white;
          padding: 10px 25px !important;

          input{
            width: 100%;
          }
        }
      }
    }
  }
}
